body:before
{
   content: "";
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   background: linear-gradient(to top left, #1E90FF, rgba(30,144,255,0.00), #98FB98), linear-gradient(to top right, #1E90FF, rgba(30,144,255,0.00), #1E90FF) #5AC5CB;
}
body
{
   background-color: #1E90FF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}

    .banner {
      width: 100%;
      overflow: hidden;
      background: transparent;
      padding: 10px 0;
    }

    .track {
      display: flex;
      align-items: center;
      gap: 20px;
      width: max-content;
      animation: scroll 15s linear infinite;
    }

    .track img {
      height: 150px;
      width: auto;
      object-fit: contain;
      display: block;
      border-radius: 10px;
    }

    @keyframes scroll {
      from { transform: translateX(0); }
      to { transform: translateX(-50%); }
    }

    .page {
      max-width: 1200px;
      margin: 0 auto;
      padding: 30px 20px;
    }

    .intro {
      display: flex;
      gap: 80px;
      align-items: center;
	  justify-content: space-between;
      margin-bottom: 20px;
    }

	 .intro-logo {
	  display: flex;
	  align-items: center;   /* centreert het logo verticaal binnen zijn eigen blok */
	  justify-content: center;
}

    .intro-logo img {
      max-width: 100%;
      height: auto;
    }

    .intro-buttons {
      display: flex;
      justify-content: center;
	  flex-direction: row;
      gap: 30px;
	  margin-left: 50px;

    }

    .intro-text {
      flex: 1;
      font-size: 16px;
      line-height: 1.5;
	  border: 1px solid #CCCCCC;
	  border-radius: 12px;
	  padding: 5px;
    }

    .intro-text h2 {
      margin: 10px;
    }

    .cards {
      display: grid;	 
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 10px;
	  padding: 5px;
      margin-bottom: 60px;
    }

    .card {
      min-height: 250px;
	  background: rgba(255, 255, 255, 0.7); /* 40% transparant */
      padding: 12px;
      text-align: center;
      box-shadow: 0 6px 20px rgba(0,0,0,.50);
      border-radius: 10px;
    }

    .card-title {
      font-weight: bold;
      min-height: 45px;
    }

    .card-image {
      width: 140px;
      height: auto;
      object-fit: cover;
      border-radius: 6px;
    }

    .card-footer {
      margin-top: 10px;
      font-weight: normal;
    }

    .clubfoto {
      max-width: 830px;
      margin: 0 auto;
      box-shadow: 0 6px 20px rgba(0,0,0,.50);
    }

    .clubfoto img {
      width: 100%;
      height: auto;
      display: block;
    }

    @media (max-width: 800px) {
      .intro {
        flex-direction: column;
        text-align: center;
      }

    .intro-logo {
        flex: none;
      }
    }

    .faq {
      display: flex;    
	  gap: 10px;
	  justify-content: space-between;
      margin-bottom: 60px;
	  margin-top: 60px;
    }

    .faqtext {
	  flex: 1;
      min-height: 250px;	  
      padding: 12px;
	  background: white;
      box-shadow: 0 6px 20px rgba(0,0,0,.50);
      border-radius: 10px;
	  box-sizing: border-box;
    }
	
.round {
	border-radius: 50px;
    background-color: lightyellow;
    background-image: none;
	border-color:green;
	border-width:3px;
	height: 100px; width:100px;
    color: #000000;
	font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    padding:2px;
    text-align: center;
    margin: 15px;
  	box-shadow:0 6px 20px rgba(0,0,0,.50);
  }

.fot {
		display: flex;
	  justify-content: center;   /* horizontaal centreren */
	  align-items: center;       /* verticaal centreren */
	  margin: 20px 0;
}
.company {
      display: grid;     
	  grid-template-columns: 2fr 1fr 1fr 1.5fr;
      gap: 10px;
	  justify-content: space-between;
      margin-bottom: 60px;
	  margin-top: 60px;
    }
	
.comptext {
	  flex: 1;
      min-height: 250px;	  
      padding: 12px;
	  background: white;
      box-shadow: 0 6px 20px rgba(0,0,0,.50);
      border-radius: 10px;
	  box-sizing: border-box;
    }
	
#pinChangeOverlay{
	position:fixed; left:500px; top: 50px;
	z-index: 9000;
 }
  
.overlay-PINchange {					 
  pointer-events: auto;
  border-radius:15px;
  padding: 20px;
  margin: 20px; 
  width: 350px;
  height: 200px;           
  border:5px solid orange;
  inset: 100;
  background: #fff;

}